/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body {
  color: #7C7C7C;
  background: transparent;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  color: #FF5252;
  font-weight: 700;
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

.container {
  max-width: 920px;
}
