<header>
  <img loading="lazy" class="logo" src="/assets/images/logo.svg" alt="Angular Chile">
  <p class="command">ng build angular-chile</p>
  <img src="/assets/images/mountains.svg" alt="" class="mountains">
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Somos Angular Chile!</h1>
      <p>Nuestra misión es agrupar a los desarrolladores, desarrolladoras y entusiastas de la programación en general en torno a Angular: un framework de desarrollo de aplicaciones web.</p>
    </div>
  </div>
</div>

<img class="separator" src="/assets/images/separator.svg">
