<header>
  <div class="inner-content">
    <img loading="lazy" class="logo" src="/assets/images/logo.svg" alt="Angular Chile">
    <p class="command">ng build angular-chile</p>
  </div>
  <img src="/assets/images/mountains.svg" alt="" class="mountains">
</header>

<img class="separator" src="/assets/images/separator.svg">

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Somos Angular Chile!</h1>
      <p>Nuestra misión es agrupar a los desarrolladores, desarrolladoras y entusiastas de la programación en general en torno a Angular: un framework de desarrollo de aplicaciones web.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="https://placehold.it/800x600" alt="">
    </div>
    <div class="col-md-8">
      <h2>Meetups & Eventos</h2>
      <p>Lorem ipsum</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2>Artículos</h2>
      <p>Lorem ipsum</p>
    </div>
    <div class="col-md-4">
      <img src="https://placehold.it/800x600" alt="">
    </div>
  </div>
</div>
