header {
  position: relative;
  width: 100%;
  min-height: 60vh;
  background: linear-gradient(#3F51B5, #5192F7);
  border-bottom: 0px;
  .logo {
    display: block;
    margin: 0px auto;
    padding-top: 20px;
    width: 40%;
  }
  .command {
    font-family: 'Source Code Pro', monospace;
    color: #FFFFFF;
    padding: 10px 15px;
    background: #212121;
    display: block;
    width: 60%;
    text-align: center;
    margin: 0px auto;
    border-radius: 5px;
  }
  .mountains {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
}

.separator {
  display: block;
  padding: 10px 0px;
  margin: 0px auto;
}
