header {
  position: relative;
  width: 100%;
  min-height: 60vh;
  background: linear-gradient(#3F51B5, #5192F7);
  border-bottom: 0px;
  .inner-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    .logo {
      display: block;
      margin: 0px auto;
      width: 15%;
    }
    .command {
      margin: 0px;
      padding: 0px;
      font-family: 'Source Code Pro', monospace;
      color: #FFFFFF;
      padding: 10px 15px;
      background: #212121;
      display: block;
      width: 20%;
      text-align: center;
      margin: 0px auto;
      border-radius: 5px;
      z-index: 9999;
    }
  }
  .mountains {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
}

.separator {
  display: block;
  padding: 10px 0px;
  margin: 0px auto;
  width: 30%;
}
